doctype html
html
  head
    style.
      @import url("css/FiraCode.css");
      
      code, pre {
        font-family: "FiraCode-Regular";
      }
      
  body
    h1 Fira Code: monospaced font with programming ligatures
    pre
      include ../firacode_showcase.txt