{:paths ["clojure"]
 :deps {org.clojure/clojure           {:mvn/version "1.12.4"}
        io.github.tonsky/clojure-plus {:mvn/version "1.7.2"}
        io.github.tonsky/clj-reload   {:mvn/version "1.0.0"}
        org.flatland/ordered          {:mvn/version "1.5.7"}
        fipp/fipp                     {:mvn/version "0.6.18"}}
 :aliases
 {:dev
  {:jvm-opts ["-Dclojure.main.report=stderr"
              "-Duser.language=en"
              "-Duser.country=US"
              "-Dfile.encoding=UTF-8"]}}}
