{:paths ["clojure"]
 :deps {org.clojure/clojure         {:mvn/version "1.11.1"}
        org.flatland/ordered        {:mvn/version "1.5.7"}
        fipp/fipp                   {:mvn/version "0.6.18"}
        org.clojure/tools.namespace {:mvn/version "1.3.0"}}}
