<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>785</integer>
	<key>capHeight</key>
	<integer>688</integer>
	<key>copyright</key>
	<string>Digitized data copyright © 2012-2014, The Mozilla Foundation and Telefonica S.A.</string>
	<key>descender</key>
	<integer>-215</integer>
	<key>familyName</key>
	<string>Fira Code</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHeadCreated</key>
	<string>2014/11/11 23:02:05</string>
	<key>openTypeHeadFlags</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>3</integer>
	<key>openTypeHheaAscender</key>
	<integer>1050</integer>
	<key>openTypeHheaCaretOffset</key>
	<integer>0</integer>
	<key>openTypeHheaCaretSlopeRise</key>
	<integer>1</integer>
	<key>openTypeHheaCaretSlopeRun</key>
	<integer>0</integer>
	<key>openTypeHheaDescender</key>
	<integer>-350</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Carrois Corporate &amp; Edenspiekermann AG</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.carrois.com</string>
	<key>openTypeNameLicense</key>
	<string>Licensed under the Open Font License, version 1.1 or later</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Carrois Corporate GbR &amp; Edenspiekermann AG</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.carrois.com</string>
	<key>openTypeNameUniqueID</key>
	<string>3.111;CTDB;FiraCode-Regular</string>
	<key>openTypeNameVersion</key>
	<string>Version 3.111;PS 3.111;hotconv 1.0.72;makeotf.lib2.5.5900</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>7</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>5</integer>
		<integer>9</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>315</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>75</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>350</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>3</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>785</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-215</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>400</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>7</integer>
		<integer>11</integer>
		<integer>32</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>63</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>CTDB</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1050</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>350</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.037</real>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-13</integer>
		<integer>0</integer>
		<integer>526</integer>
		<integer>539</integer>
		<integer>688</integer>
		<integer>701</integer>
		<integer>739</integer>
		<integer>752</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>600</integer>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-14</integer>
		<integer>0</integer>
		<integer>527</integer>
		<integer>541</integer>
		<integer>689</integer>
		<integer>703</integer>
		<integer>739</integer>
		<integer>753</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-216</integer>
		<integer>-202</integer>
	</array>
	<key>postscriptFontName</key>
	<string>FiraCode-Regular</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Fira Code Regular</string>
	<key>postscriptIsFixedPitch</key>
	<true/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-212</integer>
		<integer>-199</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>68</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>83</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-50</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>styleMapFamilyName</key>
	<string>Fira Code</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Fira Mono is a trademark of The Mozilla Corporation.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>3</integer>
	<key>versionMinor</key>
	<integer>111</integer>
	<key>xHeight</key>
	<integer>526</integer>
</dict>
</plist>
