@font-face {
  font-family: 'Fira Code Fixed';
  src: url('woff2/FiraCodeFixed-Light.woff2') format('woff2'),
    url("woff/FiraCodeFixed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code Fixed';
  src: url('woff2/FiraCodeFixed-Regular.woff2') format('woff2'),
    url("woff/FiraCodeFixed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code Fixed';
  src: url('woff2/FiraCodeFixed-Medium.woff2') format('woff2'),
    url("woff/FiraCodeFixed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code Fixed';
  src: url('woff2/FiraCodeFixed-SemiBold.woff2') format('woff2'),
    url("woff/FiraCodeFixed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code Fixed';
  src: url('woff2/FiraCodeFixed-Bold.woff2') format('woff2'),
    url("woff/FiraCodeFixed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code Fixed VF';
  src: url('woff2/FiraCodeFixed-VF.woff2') format('woff2-variations'),
       url('woff/FiraCodeFixed-VF.woff') format('woff-variations');
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}